<div class="container">
  <p><%= @current_customer.inspect %></p>
  <p><%= @card %></p>
  <p><%= @current_customer.credit_card.errors %></p>
  <p><%= checkout_payment_path %></p>
  <p><%= @var1 %></p>
  <p><%= @var2 %></p>
  <p><%= @var4 %></p>
</div>
